* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fce2b2 !important;
}

.abc {
  background-color: white;
  /* padding: 25px; */
}
.active-link {
  border-bottom: 2px solid #198754; /* bootstrap success green */
  font-weight: 600;
}
.nav-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #198754;
  left: 0;
  bottom: 0;
}
.videoDesc {
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin: 0 auto;
  /* margin: auto; */
}
.mybtn {
  padding: 5px;
  margin: 5px;
}
.foot a {
  text-decoration: none;
  color: inherit;
}

.foot a:hover {
  color: #ef993c; /* optional hover color */
}

.bannerTxt {
  font-size: 50px;
}
